kumuluzee:
  name: dashboard-service
  env:
    name: dev
  version: 1.0.0
  metrics:
    web-instrumentation:
      - name: dashboard-endpoint
        url-pattern: /dashboard

  datasources:
    - jndi-name: jdbc/BooksDS
      connection-url: jdbc:postgresql://postgres:5432/postgres
      username: dbuser
      password: postgres
      max-pool-size: 20